@font-face	{
		font-family: Buffalo;
		src:	url(modernline.otf);
		font-family: cargo-regular;
		src: url(Cardo-Regular.ttf);
		font-family: codec;
		src: url(Codec-Cold-Regular-trial.ttf)
}
body {
background: url(../gif/fundopag.gif);
width: 1024px;
margin-left: 200px;
margin-right: 200px;
padding-left: 200px;
padding-right:200px;
font-family: cargo-regular; 
font-size: 12px;
text-align: center
}
.cabsobre{
	display:flex;
}

.curiosidades{
color: #748250	
}

nav{
	width:550px;
}
.titulo { 
font-family: Buffalo;
font-size: 60px;
margin-left: -25px;
width: 350px;
margin-top: -15px;
}

header{
width: 100%;
border: 2px solid #F2F1EB;
background:#F2F1EB;
clear: both;
padding: 15px;
height: 60px;
margin-top: -7px;
}
.cabsobrenav {
	margin:26px;
	margin-left: 200px;
	margin-right:10px;
	margin-top: 15px;
	font-size: 15px;
}
.cabsobrenav a {
	padding:5px;
}
.ray{
width: 500px;
font-family: cargo;
}

.ray h1{
width: 250px;
text-align: left;
font-size: 24px;
margin-top: -900px;
margin-left: 50px;
}

.ray p{
width: 250px;
text-align: justify;
font-size: 20px;
margin-left: 50px;
}

.rayet img{
	width: 180px;
	margin-top: 80px;
	margin-right: 20px;
	margin-left: 75px;
}

.tay{
width: 800px;
font-family: cargo;
}

.tay h1{
width: 250px;
text-align: left;
font-size: 24px;
margin-top: -590px;
margin-left: 750px;
}

.tay p{
width: 250px;
text-align: justify;
font-size: 20px;
margin-bottom: 5px;
margin-left: 750px;
}

.tayet img{
	width: 180px;
	margin-top: 70px;
	margin-right: 45px;
}		

footer {
width: 100%;
border: 2px solid #F2F1EB;
background:#F2F1EB;
clear: both;
padding: 19px;
height: 60px;
margin-top: 440px;
}

.rod1{
right: 50px;
left: 160px;
display: inline-block;
}	
#ist{
	display: flex;
}
#eml{
	display: flex;
	margin-left:585px;
}
#ist_img{
	margin:5px;
	margin-right:10px;
	margin-left:25px;
}
#ist_img2{
	margin:5px;
	margin-right:10px;
	margin-left:10px;
}
a{
	text-decoration: none ;
	color:black;
}

a:hover{
	color:#fff;
}
.social2 a:hover{
	color:#C8AC9C;
}
#card img:hover{
	 transform: scale(0.8, 0.8);
    background:white;
    box-shadow: 2px 2px 20px rgba(0,0,0,.5);
}
.social2{
	text-align:left;
}
.social{
	text-align:right;
}
